.loading {
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--main-color);
}

.photo {
  background-color: var(--white);
  border-radius: var(--radius-sm);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  aspect-ratio: 1 / 1;
  display: flex;
}

.photo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
