/* navbar */
.sidebar {
  position: fixed;
  left: 0;
  top: 46px;
  width: 88px;
  height: calc(100vh - 47px);
  background: linear-gradient(
    0deg,
    var(--grad-blue-light) 0%,
    var(--grad-blue-dark) 50%,
    var(--grad-blue-dark) 100%
  );
  color: var(--white);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--space-xs);
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-sm);
  border-radius: var(--radius-sm);
  color: var(--grey);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-link.active {
  background-color: var(--white);
  color: var(--main-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.link-icon {
  font-size: var(--font-size-3xl);
  transition: all 0.3s ease;
}

.sidebar-link.active .link-icon {
  background: linear-gradient(
    270deg,
    var(--grad-green-light) 0%,
    var(--grad-green-dark) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.link-text {
  font-size: var(--font-size-xxs);
  font-weight: 400;
  text-align: center;
}

.sidebar-link.active .link-text {
  color: var(--main-color);
  font-weight: 700;
}

/* submenu-sidebar */
.submenu-sidebar {
  position: fixed;
  left: 88px;
  top: 47px;
  width: var(--sidebar-width);
  height: calc(100vh - 47px);
  background: var(--white);
  border-right: 1px solid var(--grey);
  border-radius: var(--radius-xxl) 0 0 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 69.2px 0 var(--space-sm) 0;
}

.submenu-header,
.submenu-nav {
  padding-left: var(--space-sm);
}

.submenu-header {
  border-top: 1px solid var(--grey);
}

.submenu-title {
  padding: var(--space-xs) var(--space-md);
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  color: var(--grey);
  font-weight: 500;
}

.submenu-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.submenu-link {
  display: flex;
  align-items: center;
  padding: var(--space-xs) var(--space-md);
  border-radius: var(--radius-xs) 0 0 var(--radius-xs);
  color: var(--main-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

.submenu-link:hover {
  background-color: var(--light-blue);
}

.submenu-link.active {
  background: linear-gradient(
    270deg,
    var(--grad-green-light) 0%,
    var(--grad-green-dark) 100%
  );
  color: var(--white);
}

.submenu-text {
  font-size: var(--font-size-sm);
  color: var(--main-color);
  font-weight: 500;
}

.submenu-link.active .submenu-text {
  color: var(--white);
  font-weight: 600;
}
