.page-header {
  padding: var(--space-md) var(--space-lg);
  border-bottom: 1px solid var(--grey);
  background-color: var(--white);
  border-radius: var(--radius-xxl) 0 0 0;
  transition: margin-left 0.12s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.12s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.12s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header.with-sidebar {
  /* margin-left: var(--sidebar-width); */
  border-radius: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  display: flex;
  align-items: center;
}

.title-row {
  display: flex;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
}

.new-btn {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: var(--radius-sm);
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-size-sm);
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.new-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.new-btn .material-icons {
  font-size: var(--font-size-lg);
}

.sidebar-toggle-btn {
  display: flex;
  background: linear-gradient(
    270deg,
    var(--grad-green-light) 0%,
    var(--grad-green-dark) 100%
  );
  border-radius: var(--radius-xs);
  padding: 2px;
  margin-right: var(--space-xs);
  color: white;
  transition: background 0.3s ease;
}

.page-header.with-sidebar .sidebar-toggle-btn {
  background: var(--grey);
  color: var(--main-color);
  opacity: 0.5;
}

.sidebar-toggle-btn .material-icons {
  font-size: var(--font-size-2xl);
}

.page-title {
  font-weight: 600;
  font-size: var(--font-size-lg);
  color: var(--content);
  padding-right: var(--space-xs);
  border-right: 1px solid var(--grey);
}

.breadcrumb {
  padding-left: var(--space-lg);
  display: flex;
  align-items: center;
}

.breadcrumb-item,
.breadcrumb-current {
  color: var(--blue);
  font-size: var(--font-size-sm);
  font-weight: 400;
  display: flex;
  align-items: center;
}

.breadcrumb-link {
  text-decoration: none;
}

.breadcrumb-clock {
  font-size: var(--font-size-base);
  color: var(--blue);
}

.breadcrumb-separator {
  display: flex;
}

.breadcrumb-separator .material-icons {
  font-size: var(--font-size-base);
  color: var(--content);
  opacity: 0.6;
}
