@import url("./_general.css");
@import url("./_navbar.css");
@import url("./_pageHeader.css");
@import url("./_gallery.css");
@import url("./_photoDetails.css");
@import url("./_upload.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
